
<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <img class="text-center" src="/img/barista-lego.jpg" style="width:40%; margin:10px;">
      </div>
    </div>

    <div id="continue">
      <h1>IoL Cafe</h1>
      <p>Please enjoy our complimentary WiFi and a cup of joe.</p>
      <p>
        Brought to you by <a href="http://www.internetoflego.com" target="blank">InternetOfLego.com</a>
      </p>
      <form action={{login_url}} method="post" class="form col-md-12 center-block">
        <input type="hidden" name="success_url" value={{success_url}} />
        <div class="form-group">
          <div class="error">
            {{recent_error}}
          </div>
            
          <input class="form-control input-lg" type="text" name="username" placeholder="Username or email">
          <i class="icon-user icon-large"></i>
        </div>
        <div class="form-group">
          <input class="form-control input-lg" type="password" name="password" placeholder="Password">
          <i class="icon-lock icon-large"></i>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
          <span class="pull-left"><a href="#">Terms and Conditions</a></span>

        </div>
      </form>
    </div>
    <div class="row">
    </div>
  </div>
  <div class="footer">
      <p>Client IP: {{client_ip}}</p>
      <p>Client MAC: {{client_mac}}</p>
      <p>AP Tags: {{ap_tags}}</p>
      <p>AP Name: {{ap_name}}</p>
      <p>AP MAC: {{node_mac}}</p>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
