


<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <img class="text-center" src="/img/barista-lego.jpg" style="width:40%; margin:10px;">
      </div>
    </div>

    <div id="continue">
      <h1>Terms of Service</h1>
      <p>Please use this network with respect to the law and common sense :)</p>
    </div>
    <p>Brought to you by <a href="http://www.internetoflego.com" target="blank">InternetOfLego.com</a></p>
  </div>
  <div class="footer">
      <p>Client IP: {{client_ip}}</p>
      <p>Client MAC: {{client_mac}}</p>
      <p>AP Tags: {{ap_tags}}</p>
      <p>AP Name: {{ap_name}}</p>
      <p>AP MAC: {{node_mac}}</p>
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
